@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&family=Open+Sans:wght@300;400;700&family=Lobster&display=swap");
@import url("https://cdn.jsdelivr.net/gh/chandan-tudu/cascadia-code@master/style.min.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5em;
}

:root {
  --font-family: "Open Sans", sans-serif;
  --heading-font: "Lexend Deca", sans-serif;
  --code-font: monospace, "Cascadia Code";
  --border-radius: 2px;
  --primary-hue: 224.2105263158deg;
  --primary-saturation: 24.0506329114%;
  --primary-lightness: 15.4901960784%;
  --prime-color: hsl(
      var(--primary-hue),
      var(--primary-saturation),
      var(--primary-lightness)
  );
  --light-font-color: hsl(var(--primary-hue), var(--primary-saturation), 90%);
  --body-bg: hsl(var(--primary-hue), var(--primary-saturation), 99%);
  --light-bg: hsl(var(--primary-hue), var(--primary-saturation), 98%);
  --light-btn-bg: hsl(var(--primary-hue), var(--primary-saturation), 98%);
  --code-bg: hsl(var(--primary-hue), var(--primary-saturation), 13%);
  --border: hsl(var(--primary-hue), var(--primary-saturation), 80%);
  --font-color: hsl(var(--primary-hue), var(--primary-saturation), 13%);
  --strong-color: hsl(var(--primary-hue), var(--primary-saturation), 7%);
}

:root[dark-theme] {
  --prime-color: hsl(
      var(--primary-hue),
      var(--primary-saturation),
      var(--primary-lightness)
  );
  --light-font-color: hsl(var(--primary-hue), var(--primary-saturation), 90%);
  --body-bg: hsl(var(--primary-hue), var(--primary-saturation), 15%);
  --light-bg: rgba(0, 0, 0, 0.1);
  --code-bg: rgba(0, 0, 0, 0.1);
  --light-btn-bg: hsl(var(--primary-hue), var(--primary-saturation), 98%);
  --border: hsl(var(--primary-hue), var(--primary-saturation), 30%);
  --font-color: hsl(var(--primary-hue), var(--primary-saturation), 98%);
  --strong-color: hsl(var(--primary-hue), var(--primary-saturation), 100%);
}

html {
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--body-bg);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image: url("./shape.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  font-size: 1rem;
}

svg {
  display: inline-block;
  vertical-align: -0.1em;
  width: 1em;
  height: 1em;
}

a {
  all: unset;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

input,
button,
textarea {
  font-family: var(--font-family);
  font-size: 1rem;
  outline: none;
}

.navigation ul {
  all: unset;
  list-style: none;
  display: flex;
  gap: 10px;
}
.navigation ul a {
  text-transform: uppercase;
  background-color: var(--prime-color);
  color: var(--light-font-color);
  border-radius: var(--border-radius);
  font-size: 0.8rem;
  padding: 2px 5px;
}
.navigation ul li::after {
  content: "»";
  display: inline-block;
  margin-left: 10px;
}
.navigation ul li:last-child::after {
  display: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.logo a {
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  opacity: 0.5;
}

.logo a:hover {
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
}

h1,
h2 {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--strong-color);
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.header .wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.right-action {
  gap: 10px;
  align-items: center;
}

.s-input {
  padding: 10px;
  padding-right: 40px;
  border: 1px solid var(--border);
  font-size: 15px;
  border-radius: var(--border-radius);
}

.s-btn {
  border-radius: var(--border-radius);
  margin-left: -28px;
  padding: 0 5px;
  border: 0;
  border: 1px solid var(--border);
  cursor: pointer;
  background: var(--light-btn-bg);
}

.theme-btn {
  all: unset;
  padding: 10px;
  cursor: pointer;
}

.theme-sun {
  display: none;
}

.theme-btn.dark .theme-sun {
  display: inline-block;
}

.theme-btn.dark .theme-moon {
  display: none;
}

pre {
  overflow-x: auto;
  border: 5px solid var(--border);
  background: var(--light-bg);
  border-radius: var(--border-radius);
}

code {
  font-family: var(--code-font);
}

pre[class*=language-] {
  background: var(--code-bg) !important;
}

pre code {
  display: block;
  box-shadow: none;
  border: 0;
  background: none;
  font-size: 17px;
  padding: 10px;
  white-space: pre;
  word-break: normal;
  padding: 20px;
  overflow-x: auto;
  font-weight: normal;
}

:not(pre) > code {
  background-color: rgba(30, 35, 49, 0.1);
  font-size: 0.87em;
  padding: 0 5px;
  vertical-align: middle;
  color: var(--strong-color);
  border-radius: var(--radius);
}

.footer-nav {
  padding: 20px;
  list-style: none;
  justify-content: center;
  gap: 10px;
}

.cat-list ul {
  padding: 0;
  list-style-type: none;
  gap: 10px;
  justify-content: center;
}
.cat-list img {
  width: 100px;
}
.cat-list li a {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--border);
  background-color: var(--light-bg);
  border-radius: var(--border-radius);
}
.cat-list a span {
  display: block;
  padding: 5px;
  font-weight: 700;
}

.post-list ul {
  padding: 0;
  list-style-type: none;
  gap: 5px;
  justify-content: center;
}
.post-list a {
  border: 1px solid var(--border);
  display: block;
  padding: 5px 10px;
  font-size: 0.85rem;
  border-radius: var(--border-radius);
  background-color: var(--light-bg);
}

.gdpr-msg {
  border-top: 2px solid var(--border);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 20px;
  background: var(--body-bg);
  text-align: center;
}

.gdpr-msg a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: underline;
}

.gdpr-msg button {
  cursor: pointer;
  background: var(--prime-color);
  color: #f7f1ff;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 0.8em;
  opacity: 0.9;
}

.gdpr-msg button:hover {
  opacity: 1;
}

.html-result {
  position: relative;
  overflow: hidden;
  padding: 20px;
  padding-top: 60px;
  border: 5px solid var(--border);
  border-radius: var(--border-radius);
}

.html-result::before {
  display: flex;
  content: "🔴🟡🟢 Result";
  width: 100%;
  height: 40px;
  background: var(--border);
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
  body {
    background-size: contain;
  }
  h1 {
    font-size: 2rem;
  }
  pre code {
    font-size: 0.938rem !important;
  }
  .right-action {
    justify-content: space-between;
    flex: 1;
    flex-wrap: nowrap;
  }
  .right-action .s-input,
  .right-action .search {
    flex: 1;
  }
  .post-list ul {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */